/* .restaurant-menu {
    min-height: 80vh;
    width: auto;
  }
.restaurant-summary {
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: white;
    text-align: start;
  }
.restaurant-img {
    width: 250px;
    height: 170px;
    border-radius: 5px;
  }

.menu-item {
    display: flex;
    justify-content: space-between;
    max-height: 250px;
    padding: 20px;
    border-bottom: rgba(40, 44, 63, 0.45) 0.5px solid;
  }

.menu-img-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 200px;
    overflow: hidden;
  } */